h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(173, 31, 31);
    font-size: 25px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section form div h3 {
    font-size: 60px;
    color: #dd4f24;
    text-align: center;
}
section form div p {
    font-size: 30px;
    text-align: center;
}
section form div img {
    margin-left: 30px;
    margin-bottom: 20px;
}

section form .contenido h3 {
    font-size: 60px;
    color: #dd4f24;
    text-align: center;
}
section form .contenido .producto article{
    text-align: center;
    display: inline-table;
    width: 280px;
    height: 280px;
    padding: 20px;
    background-color: #ffe4dc;
    border-radius: 30px;
    margin: 30px;
    transition: all 300ms ease;
    
}

section form .contenido .producto article:hover{
    background-color: #fdc0ae;    
    
}


section form .contenido .producto nav .Lista li a{
    font-size: 28px;
    color: #dd4f24;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}
section form .contenido .producto nav .Lista .span li a {
    color: rgb(173, 31, 31);
    text-decoration-line: underline;
    text-align: center;
    display: grid;
    font-size: 15px;
    margin-top: 20px;
}
section form .contenido .producto nav .Lista {
    list-style: none;
    text-align: center;
}
section form .contenido .producto p{
    font-size: 20px;    
    width: 280px;

}
