{% extends 'base.html' %} 

{% block titulo %} 
<title>Menú - Drink App</title>
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="static/css/inicio.css">
<section><!--contenido de la pagina web-->
    <form action="/menu" method="post">
        <div class="contenido">
            <h3>Nuestros productos</h3>
            <div class="producto">
                <nav>
                    <ul class="Lista">
                        
                        {% for i in range(leng) %}
                            <article id= '{{ listaProductos[i][0] }}'>
                                <li><a href="/pedido">{{ listaProductos[i][1] }}</a></li>
                                <p>{{ listaProductos[i][3] }}</p>
                                <b>${{ listaProductos[i][2] }}</b>
                                <div class="span" >
                                    <li><a href="/deseos" style="cursor: pointer" onclick="return contenido ()">Agregar a Lista de deseos </a></li> 
                                </div>
                            </article>
                        {% endfor %}
                        
                    </ul>
                </nav>
            </div>
        <div>                
    </form>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/menu.js' ) }}"></script>
{% endblock %}

                            