{% extends 'base.html' %} 

{% block titulo %} 
<title>Menú - Drink App</title>
{% endblock %}

{% block contenido %}
<section><!--contenido de la pagina web-->
    <form action="/menu" method="post">
        <article>
            <div class="contenido">
                <div class="imagen">
                    <img src="assets/images.png" alt="">
                </div>
                <div>
                    <div class="titulo-autor">
                        <h5>titulo de la targeta</h5><!--h5 marca los titulos-->
                        <p>aqui va el <span>autor</span></p>
                    </div>
                    <div>
                        <div class="tag">
                            Python
                        </div>
                        <div class="tiempo">
                            hace 10 mins
                        </div>
                    </div>
                </div>
            </div>
            <div class="estadisticas">
                <div class="contador">
                    <p><span>flecha arriba</span> numero <span>flecha abajo</span></p>
                </div>
                <div class="iconos">
                    <p>10 <span>estrellita</span></p>
                </div>
            </div>
        </article> <!--article, articulo puntual que se muestra al usuario-->
    </form>
</section>
{% endblock %}

