{% extends 'base.html' %}

{% block titulo %}
{% if usuario %}
<title> {{usuario[0][2]}}</title>
{% endif %}
{% endblock %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/headerandfooter.css') }}" />
{% endblock %}

{% block contenido %}
<section>
    <div class="encabezado">
        <div class="logo">
            <h1>Perfil </h1>            
        </div>
        <div class="salir">
            <input type="button" value="Cerrar Sesion" id="cerrar_sesion">
        </div>
    </div>
    <div class="info-perfil">
        <div class="avatar">
            <img src="{{ url_for('static', filename='img/avatar.jpg') }}" alt="">
        </div>
        <div class="usuario">
            {% if usuario %}
            <h3>{{ usuario[0][1] }}</h3>
            {% endif %}
        </div>
    </div>    
</section>
{% endblock %} 

{% block scripts %}
<script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
{% endblock %}